body {
    font-size: x-large;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

#url {
    margin: 8px 0;
    padding: 8px;
    width: 500px;
    font-size: larger;
}

#log-container {
    margin-top: 80px;
}

#log {
    border: none;
    font-size: x-large;
}